.container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
  font-family: Arial;
}

.form {
  margin-bottom: 20px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.delete {
  background-color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}